.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.selected-red{
    box-shadow: 0px 0px 20px 13px red
}

.selected-yellow{
    box-shadow: 0px 0px 20px 13px yellow
}

.selected-green{
    box-shadow: 0px 0px 20px 13px green
}

.light{
    width: 75px;
    height: 75px;
}